# Payphone Configuration
VITE_PAYPHONE_TOKEN=L-7ilIAHZwpCouF-EpQyIZ9CWcJoY7Qa_SJ783ZDXKkWb8FOm3goCK26iGYqAXDU4zu2SybWmEqK_K2NllO_zvyQAyAvWjnOBmzOuYfMBj0Ms9q1WOdX5l0jmb4p7TVaXm3RFnOs17jPth8N3TyYWLFyhAwHMb_gsYHnBAo7flIPNlNnNtQZRNs8CKfjBlLpj31yNgmKUfBbloEp6Rrhju_ogWe9vOhSlJaSQwEScxAgnmH55ycpZEprfyISuJJJyP2LpGBubfjo9XaLJBOLzV4dcVRovBseT9KVboWWcqtRsczL3LeBgcBvqKDlM2fZmd_EHbBYJiN7_btXnJqJQZA5T8Q
VITE_PAYPHONE_STORE_ID=9xdv035b60GbsgPxF6wA
